/* ==== Custom animation file ==== */
.solutions .image_holder .phone_screens {
  -webkit-animation: back_rectangle 1.5s ease-in-out infinite alternate both;
  animation: phone_screens 1.5s ease-in-out infinite alternate both;
}

@-webkit-keyframes phone_screens {
  0% {
    -webkit-transform: translateY(0);
    transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translateY(11.5px);
    transform: translate(-50%, -55%);
  }
}

@keyframes phone_screens {
  0% {
    -webkit-transform: translateY(0);
    transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translateY(11.5px);
    transform: translate(-50%, -55%);
  }
}

.solutions .image_holder .phone_holder {
  -webkit-animation: back_rectangle 1.5s ease-in-out infinite alternate both;
  animation: phone_holder 1.5s ease-in-out infinite alternate both;
}

@-webkit-keyframes phone_holder {
  0% {
    -webkit-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  100% {
    -webkit-transform: skew(5deg, 5deg);
    transform: skew(1deg, 3deg);
  }
}

@keyframes phone_holder {
  0% {
    -webkit-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  100% {
    -webkit-transform: skew(5deg, 5deg);
    transform: skew(1deg, 3deg);
  }
}
