/*-------------------------------------
	Author: CloudCode
	Copyright © 2022

  * This file contains the styling for the actual template, this
    is the file you need to edit to change the template's look.
---------------------------------------

This file table contents are outlined below:
===================
  1. Root colors
	2. Default css
	3. Navbar
	4. Hero section
	5. Apps
  6. Features
  7. Testimonial
  8. Support
  9. Footer
 10. To Top 
 11. Preloader
---------------------------------------*/

/* ==== Root colors ==== */
:root {
  --white: #fff;
  --dark: #002646;
  --blue: #023662;
  --green: #81c834;
  --transparent: transparent;
  --social_icon_bg: #003d7b;
  /* gradient */
  --body_bg_gradient: linear-gradient(to bottom,rgba(240, 255, 225, 1),rgba(249, 239, 255, 1));
}

/* ==== Default css start here ==== */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
  overflow-x: hidden;
  background-image: var(--body_bg_gradient);
}

ul {
  list-style-type: none;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark);
}

img {
  width: 100%;
}

button {
  text-transform: capitalize;
  font-size: 16px;
}

button:active {
  opacity: 0.6;
}

@media (min-width: 1600px) {
  button {
    font-size: 18px;
  }
}

/*  customization of p tag */
p,
.p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: start;
}

p::first-letter,
.p::first-letter{
 text-transform: uppercase;
}

.header_sub_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.sub_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

/* customization of h tag */
h6,
h5,
h4,
h3,
h2,
h1 {
  text-transform: capitalize;
  margin-bottom: 0;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: var(--green);
}
h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
}
h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
}
h4 {
  font-weight: 600;
  font-size: 19px;
  line-height: 29px;
}
h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px
}
h6 {
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
}

@media (min-width: 576px) {
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 34px;
  }

  h4 {
    font-size: 21px;
    line-height: 31px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    font-size: 35px;
    line-height: 45px;
  }

  h3 {
    font-size: 28px;
    line-height: 38px;
  }

  h4 {
    font-size: 23px;
    line-height: 33px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 45px;
    line-height: 55px;
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
  }

  h3 {
    font-size: 31px;
    line-height: 41px;
  }

  h4 {
    font-size: 24px;
    line-height: 34px;
  }

  h5 {
    font-size: 20px;
    line-height: 30px;
  }

  h6 {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h2 {
    font-size: 45px;
    line-height: 55px;
  }

  h3 {
    font-size: 35px;
    line-height: 35px;
  }

  h4 {
    font-size: 27px;
    line-height: 37px;
  }

  h5 {
    font-size: 22px;
    line-height: 32px;
  }
  
}

@media (min-width: 1600px) {
  h1 {
    font-size: 56px;
    line-height: 66px;
  }

  h2 {
    font-size: 50px;
    line-height: 60px;
  }

  h3 {
    font-size: 42px;
    line-height: 52px;
  }
  h4 {
    font-size: 32px;
    line-height: 42px;
  }
  h5 {
    font-size: 24px;
    line-height: 34px;
  }
  h6 {
    font-size: 20px;
    line-height: 30px;
  }
}

/* Custom container */
.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.flex_container .container {
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
  max-width: 1390px !important;
  padding: 50px 16px;
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
}

.flex_container .container.padding_0 {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .flex_container .container {
    padding: 60px 24px;
  }
  .flex_container .container.padding_0 {
    padding: 0 24px;
  }
}

@media (min-width: 1600px) {
  .flex_container .container {
    padding: 100px 24px;
  }
  .flex_container .container.padding_0 {
    padding: 0 24px;
  }
}
/* ==== Default css end here ==== */

/* ==== Navbar start here ==== */
.navbar {
  background-color: var(--white) !important;
  padding: 12px 0px;
}

.header_container.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation: fade-down 0.5s ease-in-out both;
          animation: fade-down 0.5s ease-in-out both;
  z-index: 100;
  -webkit-box-shadow: 0 4px 2px -1px rgb(0, 85, 175, 0.06);
          box-shadow: 0 4px 2px -1px rgb(0, 85, 175, 0.06);
}

@-webkit-keyframes fade-down {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fade-down {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.navbar-brand {
  width: 100px;
  padding: 10px 0;
}

.navbar-brand img {
  width: 100%;
}

.navbar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-link {
  color: var(--blue) !important;
  font-weight: 500;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.navbar .nav-link .nav_link_border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2px;
}

.navbar .nav-link .nav_link_border span {
  display: block;
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
}

.navbar .nav-link.active .nav_link_border span {
  background-color: var(--green);
}

.navbar .nav-link .nav_link_border .one {
  width: 55%;
}

.navbar .nav-link .nav_link_border .two {
  width: 18%;
}

.navbar .nav-link .nav_link_border .three {
  width: 14%;
}

.navbar .nav-item:hover .nav-link  {
  color: var(--green) !important;
}

.navbar .nav-item:hover .nav-link  .nav_link_border span {
  background-color: var(--green);
}

.navbar .contact_btn {
  background: var(--blue);
  padding: 5px 20px;
  -ms-grid-column-align: end;
      justify-self: end;
  border: 1px solid var(--blue);
  color: var(--white);
  border-radius: 4px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .contact_btn:hover {
  background: var(--transparent);
  border: 1px solid var(--blue);
  color: var(--blue);
}

.nav_bar_wrapper ul {
  padding-left: 0px;
}

.navbar .nav-item {
  position: relative;
}

.navbar .nav-item .inner_home_dropdown,
.home_dropdown ul {
  position: absolute;
  top: 80px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 11px 51px rgba(0, 0, 0, 8%);
          box-shadow: 0px 11px 51px rgba(0, 0, 0, 8%);
  border-radius: 12px;
  padding: 20px 10px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar .nav-item .inner_home_dropdown {
  display: none;
}

.navbar .nav-item .inner_home_dropdown.inner {
  -ms-grid-columns: minmax(0, 1fr) 0px minmax(0, 1fr) 0px minmax(0, 1fr) 0px minmax(0, 1fr) 0px minmax(0, 1fr);
  grid-template-columns: repeat(5, minmax(0, 1fr));
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
  width: max-content;
  left: -300px;
}

.navbar .nav-item:hover .inner_home_dropdown {
  top: 55px;
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.navbar .nav-item .inner_home_dropdown li,
.home_dropdown ul li {
  width: 140px;
}

.navbar .nav-item .inner_home_dropdown a,
.home_dropdown ul a {
  padding: 8px 0px 8px 6px;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-item .inner_home_dropdown a:hover,
.home_dropdown ul a:hover {
  padding-left: 10px;
  color: var(--green);
}
.navbar .nav-item .inner_home_dropdown a::before,
.home_dropdown ul a::before {
  content: ' ';
  height: 16px;
  width: 3px;
  position: absolute;
  background-color: var(--green);
  left: 2px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  border-radius: 2px;
}

.navbar .nav-item .inner_home_dropdown a:hover:before,
.home_dropdown ul a:hover::before {
  opacity: 1;
}

.navbar .nav-link svg {
  width: 12px;
  margin-left: 3px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.navbar .nav-item:hover svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar .nav-item:hover svg .vertical {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home_dropdown ul {
  left: 50%;
  top: 120px;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: block;
  z-index: 100;
}
.home_dropdown ul.inner_home_dropdown_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  top: 120px;
  width: max-content;
  max-height: 85vh;
  overflow: auto;
}

.home_dropdown ul.inner_home_dropdown_list li {
  width: 130px;
}

.home_dropdown ul.inner_home_dropdown_list a {
  font-size: 14px;
}

.home_dropdown ul.active {
  top: 68px;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 567px) {
  .home_dropdown ul.inner_home_dropdown_list {
    -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;
  }
  .home_dropdown ul.inner_home_dropdown_list a {
    font-size: 16px;
  }

  .navbar .nav-item .inner_home_dropdown,
  .home_dropdown ul {
    padding: 30px 35px;
  }

  .home_dropdown ul.inner_home_dropdown_list li {
    width: 140px;
  }

}

@media (min-width: 756px) {
  .home_dropdown ul.inner_home_dropdown_list {
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    width: 150px;
  }
  .navbar .contact_btn {
    border-radius: 30px;
  }
  .home_dropdown ul,
  .home_dropdown ul.inner_home_dropdown_list {
    display: none;
  }
  .navbar .nav-item .inner_home_dropdown {
    display: block;
  }
  .navbar .nav-item .inner_home_dropdown.inner {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

@media (min-width: 1400px) {
  .navbar {
    padding: 15px 0px;
  }
  .navbar .nav-link {
    padding: 12px 18px !important;
  }
  .navbar-brand {
    width: 180px;
  }
  .navbar .nav-item:hover .inner_home_dropdown {
    top: 65px;
  }
}
/* ==== Navbar end here ==== */

/* ==== Hero section start here ==== */
.hero_header {
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hero_header .container {
  position: relative;
}

.hero_header .container .top_circle {
  position: absolute;
  top: 21px;
  left: 22px;
}

.hero_header .container .bottom_circle {
  position: absolute;
  top: 208px;
  left: 299px;
}

.hero_header .header_bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.hero_section {
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
  -ms-grid-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.hero_section .content {
  padding-right: 0px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 90px 0;
}

.hero_section .content p {
  text-align: center;
  margin: 35px 0 40px 0;
  color: var(--white);
}

.hero_section .content button {
  background-color: var(--transparent);
  padding: 15px 50px;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: capitalize;
}

.hero_section .content button:hover {
  background: var(--green);
  border: 1px solid var(--transparent);
  color: var(--white);
}

.hero_section .image_holder {
  -ms-grid-row-span: 1;
  grid-row-end: 1;
  padding: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  min-height: 220px;
  margin: 120px auto 0 auto;
}

#right_mobile,
#center_mobile,
#left_mobile {
  position: absolute;
}

#right_mobile,
#left_mobile {
  max-width: 31%;
}

#center_mobile {
  max-width: 40%;
  top: 26%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#left_mobile {
  top: 32%;
  left: 28%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#right_mobile {
  top: 32%;
  left: 72%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 400px) {
  .hero_section .image_holder {
    width: 80%;
  }
}

@media (min-width: 600px) {
  .hero_section .image_holder {
    margin: 140px auto 0 auto;
  }
}

@media (min-width: 768px) {
  .hero_section .image_holder {
    margin: 160px auto 0 auto;
  }
}

@media (min-width: 992px) {
  .hero_header {
    min-height: 683px;
  }
  .hero_section {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero_section .content {
    text-align: start;
    max-width: none;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 60px 30px 60px 0;
  }

  .hero_section .content p {
    text-align: start;
  }

  .hero_section .content button {
    padding: 15px 40px;
  }

  .hero_section .image_holder {
    -ms-grid-column-span: 3;
    grid-column-end: 3;
    padding: 20px;
    width: 100%;
    min-height: 0;
    margin: 0;
  }

  #right_mobile,
  #left_mobile {
    max-width: 34%;
  }

  #center_mobile {
    max-width: 42%;
    top: 36%;
  }

  #left_mobile {
    left: 31%;
    top: 41%;
  }

  #right_mobile {
    top: 41%;
    top: 41%;
  }
}

@media (min-width: 1200px) {
  .hero_header {
    min-height: 883px;
  }

  .hero_section .content {
    text-align: start;
    max-width: none;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 60px 30px 120px 0;
  }

  .hero_section .content p {
    margin: 70px 0 55px 0;
  }
}

@media (min-width: 1600px) {
  #right_mobile,
  #left_mobile {
    max-width: 34%;
  }

  #center_mobile {
    max-width: 44%;
    top: 38%;
  }

  #right_mobile {
    left: 72%;
    top: 44%;
  }

  #left_mobile {
    left: 29%;
    top: 45%;
  }
}
/* ==== Hero section start here ==== */

/* ==== Apps start here ==== */

.apps .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.apps .content {
  padding-right: 0px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.apps .content p {
  text-align: center;
  margin: 35px 0 40px 0;
  color: var(--dark);
}

.apps .content .store_container {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  justify-items: center;
}

.apps .content .store_container a {
  max-width: 353px;
  display: block;
}

@media (min-width: 576px) {
  .apps .image_holder {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .apps .image_holder {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .apps .container {
    -ms-grid-columns: 60% auto;
    grid-template-columns: 60% auto;
  }
  .apps .image_holder {
    width: 100%;
  }
  .apps .content {
    text-align: start;
    margin: 0;
  }
  .apps .content p {
    text-align: start;
  }
  .apps .content .store_container {
    -ms-grid-columns: auto auto;
    grid-template-columns: repeat(2, auto);
  }
}
/* ==== Apps end here ==== */

/* ==== Features start here ==== */

.features .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 60px;
  padding: 0 10px;
}

.features .cards .card_holder {
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 17px 6px rgba(0, 0, 0, 10%);
          box-shadow: 0px 6px 17px 6px rgba(0, 0, 0, 10%);
}

.features .cards .feature_card {
  background-color: var(--white);
  border-radius: 8px;
  padding: 15px 20px;
  height: 100%;
  -webkit-box-shadow: 0px 6px 17px 6px rgba(0, 0, 0, 10%);
          box-shadow: 0px 6px 17px 6px rgba(0, 0, 0, 10%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.features .cards .card_holder:hover .feature_card {
  -webkit-transform: translateX(10px) translateY(10px);
      -ms-transform: translateX(10px) translateY(10px);
          transform: translateX(10px) translateY(10px);
}

.features .cards .card_holder.one {
  background-color: #08d9ab;
}

.features .cards .card_holder.two {
  background-color: #f7b500;
}

.features .cards .card_holder.three {
  background-color: #00d3ff;
}

.features .cards .card_holder.four {
  background-color: #e45b4e;
}

.features .cards .card_holder.five {
  background-color: #7f54fb;
}

.features .cards .card_holder.six {
  background-color: #f44097;
}

.features .content {
  text-align: center;
}

.features .content .upper_title {
  font-weight: 600;
}

.features .content .featues_title {
  margin: 20px 0 80px 0;
}

.features .content .text_black {
  color: var(--dark);
}

.features .card_holder .logo_holder {
  width: 87px;
  height: 67px;
  padding: 10px 20px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .card_holder.one .logo_holder {
  background-color: rgba(221, 255, 248, 33%);
}

.features .card_holder.two .logo_holder {
  background-color: rgba(235, 273, 1, 5%);
}

.features .card_holder.three .logo_holder {
  background-color: rgba(0, 211, 255, 5%);
}

.features .card_holder.four .logo_holder {
  background-color: rgba(228, 92, 79, 5%);
}

.features .card_holder.five .logo_holder {
  background-color: rgba(127, 84, 251, 5%);
}
.features .card_holder.six .logo_holder {
  background-color: rgba(244, 64, 151, 5%);
}

.features .card_holder .logo_holder img {
  width: auto;
}

.features .cards .feature_card .card_title {
  margin: 25px 0 12px 0;
}

@media (min-width: 600px) {
  .features .cards {
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .features .cards .card_holder:hover .feature_card {
    -webkit-transform: translateX(20px) translateY(20px);
        -ms-transform: translateX(20px) translateY(20px);
            transform: translateX(20px) translateY(20px);
  }
}

@media (min-width: 1200px) {
  .features .cards {
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
/* ==== Features end here ==== */

/* ==== Testimonial start here ==== */
.testimonial .testimonial_title {
  margin-bottom: 60px;
  text-align: center;
}

.testimonial .slider_card {
  border-radius: 11px;
  -webkit-box-shadow: 0px 27px 22px 0 rgba(0, 0, 0, 7%);
          box-shadow: 0px 27px 22px 0 rgba(0, 0, 0, 7%);
  padding: 40px 25px;
  background-color: var(--white);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.testimonial .swiper_handler {
  position: relative;
  font-size: 35px;
  margin-top: 0px;
  display: none;
}

.testimonial .swiper_handler .swiper-button-next {
  position: absolute;
  top: 100%;
  right: 27%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.testimonial .swiper_handler .swiper-button-prev {
  position: absolute;
  top: 100%;
  left: 33%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testimonial .swiper-button-next,
.testimonial .swiper-button-prev {
  width: 15px;
  color: #a9a9a9;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.testimonial .swiper-button-next:hover,
.testimonial .swiper-button-prev:hover {
  color: #003d7b;
}

.testimonial .swiper_handler .swiper-button-next::after,
.testimonial .swiper_handler .swiper-button-prev::after {
  display: none;
}

.testimonial .swiper_handler .swiper-pagination {
  position: static;
}

.testimonial .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.testimonial .swiper-pagination-bullet-active {
  background: #023662;
}

.testimonial .swiper-slide {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  min-height: 300px;
}

.testimonial .swiper-slide.swiper-slide-active,
.testimonial .swiper-slide.swiper-slide-duplicate-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.testimonial .swiper-button-prev,
.testimonial .swiper-rtl .swiper-button-next {
  right: auto;
}

.testimonial .slider_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 25px;
}

.testimonial .slider_header .image_holder {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial .profile {
  text-align: center;
}

.testimonial .profile .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.testimonial .profile .title .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 23px;
  color: var(--green);
}

.testimonial .profile .rating ion-icon:not(:last-child) {
  margin-right: 3px;
}

.testimonial .slider_content p {
  text-align: center;
}

.testimonial .slider_content .testimonial_title {
  margin: 30px 0 15px 0;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 756px) {
  .testimonial .swiper_handler {
    display: block;
    margin-top: 50px;
  }
}

@media (min-width: 1100px) {
  .testimonial .slider_header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 62px 11px auto;
    grid-template-columns: 62px auto;
    -webkit-column-gap: 11px;
       -moz-column-gap: 11px;
            column-gap: 11px;
  }

  .testimonial .profile {
    -ms-grid-column-align: self-start;
        justify-self: self-start;
    text-align: start;
  }
  .testimonial .profile .title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .testimonial .slider_content p,
  .testimonial .slider_content .testimonial_title {
    text-align: start;
  }
}

@media (min-width: 1400px) {
  .swiper-slide.swiper-slide-active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    width: 490px !important;
  }
  .testimonial .profile .title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .testimonial .profile .title .rating {
    margin-left: 20px;
  }
}
/* ==== Testimonial end here ==== */

/* ==== Support start here ==== */
.support .support_content {
  padding: 80px 20px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#13d295), to(#00b77c));
  background: -o-linear-gradient(left, #13d295, #00b77c);
  background: linear-gradient(to right, #13d295, #00b77c);
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  position: relative;
  border-radius: 23px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.support .support_content .top_support,
.support .support_content .bottom_support {
  height: 596px;
  width: 596px;
  position: absolute;
}

.support .support_content .top_support {
  top: -410px;
  left: 0px;
}

.support .support_content .bottom_support {
  bottom: -323px;
  right: -134px;
}

.support .support_content h2 {
  color: var(--white);
}

.support .support_content p {
  margin: 20px 0 35px 0;
  text-align: center;
}

.support .support_content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 25%);
          box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 25%);
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#ffbb00), to(#fb9701));
  background: -o-linear-gradient(left, #ffbb00, #fb9701);
  background: linear-gradient(to right, #ffbb00, #fb9701);
  border: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.support .support_content button:hover {
  letter-spacing: 3px;
}

.support .support_content button img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.support .support_content h2,
.support .support_content p,
.support .support_content button {
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .support .support_content {
    padding: 80px 80px;
  }
}

@media (min-width: 1200px) {
  .support .support_content {
    padding: 80px 120px;
  }
}
/* ==== Support start here ==== */

/* ==== Footer start here ==== */

.footer {
  background-color: #021021;
  color: var(--white);
  margin-top: -140px;
}

.footer .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 40px 20px;
  margin-top: 80px;
}

.footer .content .info {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.footer .content .info p {
  max-width: 357px;
  margin: 40px 0 40px 0;
  text-align: center;
}

.footer .content .logo {
  width: 120px;
}

.footer .content .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.footer .social_icons .social_icon a {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--social_icon_bg);
  color: var(--white);
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.footer .social_icons .social_icon a:hover {
  background-color: var(--white);
  color: var(--social_icon_bg);
  -webkit-transform: translateY(-5px) scale(1.03);
      -ms-transform: translateY(-5px) scale(1.03);
          transform: translateY(-5px) scale(1.03);
}

.footer .social_icons .social_icon:not(:last-child) {
  margin-right: 15px;
}

.footer .social_icons .social_icon svg {
  max-height: 12px;
}

.footer .details {
  text-align: center;
}

.footer .details .footer_header {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.footer .details p {
  text-align: center;
}

.footer .details p:not(:last-child) {
  margin-bottom: 15px;
}

.footer .footer_border {
  height: 1px;
  width: 100%;
  background-color: #5E6375;
}

.footer .copyright {
  font-size: 14px;
  text-transform: capitalize;
  margin: 40px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .footer .content {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .content .info {
    justify-items: start;
  }

  .footer .content .info p {
    text-align: start;
  }

  .footer .content .social_icons {
    margin: 0;
  }

  .footer .details {
    text-align: start;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .footer .useful_links.details {
    -ms-grid-column-align: start;
        justify-self: start;
  }

  .footer .details h5 {
    margin-bottom: 25px;
  }
  .footer .details p {
    text-align: start;
  }
}

@media (min-width: 1200px) {
  .footer .content .logo {
    width: 150px;
  }
  .footer .content {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  .footer .useful_links.details {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .footer .content .info p {
    margin: 40px 0 120px 0;
  }
  .footer .social_icons .social_icon a {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
  .footer .social_icons .social_icon svg {
    max-height: 20px;
  }
}

@media (min-width: 1600px) {
  .footer {
    margin-top: -180px;
  }
}
/* ==== Footer end here ==== */

/* ==== To Top start here ==== */

.scroll_to_top {
  position: fixed;
  z-index: 1000;
  width: 50px;
  right: -200px;
  bottom: 40px;
  -webkit-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
}

.scroll_to_top.active {
  right: 40px;
}

.scroll_to_top #outer2,
.scroll_to_top #outer1,
.scroll_to_top #center {
  -webkit-animation: to_top_button 2s ease-in-out infinite alternate both;
          animation: to_top_button 2s ease-in-out infinite alternate both;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes to_top_button {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes to_top_button {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 576px) {
  .scroll_to_top {
    width: 70px;
  }
}
/* ==== To Top end here ==== */

/* ==== Preloader start here ==== */
#pre-load {
  background-color: rgba(3, 2, 38, 0.96);
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 0px;
  top: 0px;
  z-index: 9999;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

#pre-load.hide {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.loader .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 3px solid #ebebec;
  border-radius: 50%;
}

.loader .loader-container:before {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-top: 3px solid #e60023;
  border-radius: 50%;
  animation: loaderspin 1.8s infinite ease-in-out;
  -webkit-animation: loaderspin 1.8s infinite ease-in-out;
}

.loader .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  text-align: center;
}

.loader .loader-icon img {
  -webkit-animation: loaderpulse 1s ease-in-out infinite alternate;
          animation: loaderpulse 1s ease-in-out infinite alternate;
  width: 70px;
}

@-webkit-keyframes loaderspin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loaderspin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes loaderpulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes loaderpulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/* ==== Preloader end here ==== */
