/*-------------------------------------
	Author: CloudCode
	Copyright © 2022

  * This file contains the styling for the actual template, this
    is the file you need to edit to change the template's look.
--------------------------------------- */


/* ==== Testimonial start here ==== */
.testimonial {
  background: #fcfcff;
}

.testimonial .testimonial_title {
  margin-bottom: 60px;
  text-align: center;
}



.testimonial .slider_card {
  border-radius: 11px;
  -webkit-box-shadow: 0px 27px 22px 0 rgba(0, 0, 0, 7%);
          box-shadow: 0px 27px 22px 0 rgba(0, 0, 0, 7%);
  padding: 40px 25px;
  background-color: var(--white);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.testimonial .swiper_handler {
  position: relative;
  font-size: 35px;
  margin-top: 0px;
  display: none;
}

.testimonial .swiper_handler .swiper-button-next {
  position: absolute;
  top: 100%;
  right: 27%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.testimonial .swiper_handler .swiper-button-prev {
  position: absolute;
  top: 100%;
  left: 33%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testimonial .swiper-button-next,
.testimonial .swiper-button-prev {
  width: auto;
  height: auto;
  color: #a9a9a9;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.testimonial .swiper-button-next:hover,
.testimonial .swiper-button-prev:hover {
  color: #003d7b;
}

.testimonial .swiper_handler .swiper-button-next::after,
.testimonial .swiper_handler .swiper-button-prev::after {
  display: none;
}

.testimonial .swiper_handler .swiper-pagination {
  position: static;
}

.testimonial .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.testimonial .swiper-pagination-bullet-active {
  background: #023662;
}

.testimonial .swiper-slide {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  min-height: 300px;
}

.testimonial .swiper-slide.swiper-slide-active,
.testimonial .swiper-slide.swiper-slide-duplicate-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.testimonial .swiper-button-prev,
.testimonial .swiper-rtl .swiper-button-next {
  right: auto;
}

.testimonial .slider_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 25px;
}

.testimonial .slider_header .image_holder {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial .profile {
  text-align: center;
}

.testimonial .profile .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.testimonial .profile .title .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 23px;
  color: var(--blue);
}

.testimonial .profile .rating ion-icon:not(:last-child) {
  margin-right: 3px;
}

.testimonial .slider_content p {
  text-align: center;
}

.testimonial .slider_content .testimonial_title {
  margin: 30px 0 15px 0;
  text-align: center;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 15px;
}

@media (min-width: 756px) {
  .testimonial .swiper_handler {
    display: block;
    margin-top: 50px;
  }
}

@media (min-width: 1100px) {
  .testimonial .slider_header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 62px 11px auto;
    grid-template-columns: 62px auto;
    -webkit-column-gap: 11px;
       -moz-column-gap: 11px;
            column-gap: 11px;
  }

  .testimonial .profile {
    -ms-grid-column-align: self-start;
        justify-self: self-start;
    text-align: start;
  }
  .testimonial .profile .title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .testimonial .slider_content p,
  .testimonial .slider_content .testimonial_title {
    text-align: start;
  }
}

@media (min-width: 1400px) {
  .swiper-slide.swiper-slide-active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    width: 490px !important;
  }
  .testimonial .profile .title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .testimonial .profile .title .rating {
    margin-left: 20px;
  }
}
/* ==== Testimonial end here ==== */
