/*-------------------------------------
	Author: CloudCode
	Copyright © 2022

  * This file contains the styling for the actual template, this
    is the file you need to edit to change the template's look.
--------------------------------------- */

/* ==== Services section start here ==== */
.center_content .title {
  text-align: center;
  color: var(--blue);
}

.center_content p {
  text-align: center;
  max-width: 700px;
  margin: 30px auto 80px;
}

.service_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 30px 20px;
}

.services {
  position: relative;
  z-index: 90;
}

.service_cards .custom_card.one,
.service_cards .custom_card.six {
  background-image: -webkit-gradient(
    linear,
    left top, right bottom,
    from(rgba(241, 253, 255, 1)),
    to(rgba(242, 244, 255, 1))
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(241, 253, 255, 1),
    rgba(242, 244, 255, 1)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(241, 253, 255, 1),
    rgba(242, 244, 255, 1)
  );
}

.service_cards .custom_card.two {
  background-image: -webkit-gradient(
    linear,
    left top, right bottom,
    from(rgba(250, 255, 255, 1)),
    to(rgba(234, 239, 253, 1))
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(250, 255, 255, 1),
    rgba(234, 239, 253, 1)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(250, 255, 255, 1),
    rgba(234, 239, 253, 1)
  );
}

.service_cards .custom_card.three {
  background-image: -webkit-gradient(
    linear,
    left top, right bottom,
    from(rgba(207, 221, 255, 1)),
    to(rgba(241, 245, 253, 1))
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(207, 221, 255, 1),
    rgba(241, 245, 253, 1)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(207, 221, 255, 1),
    rgba(241, 245, 253, 1)
  );
}

.service_cards .custom_card.four {
  background-image: -webkit-gradient(
    linear,
    left top, right bottom,
    from(rgba(250, 241, 255, 1)),
    to(rgba(229, 235, 251, 1))
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(250, 241, 255, 1),
    rgba(229, 235, 251, 1)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(250, 241, 255, 1),
    rgba(229, 235, 251, 1)
  );
}

.service_cards .custom_card.five {
  background-image: -webkit-gradient(
    linear,
    left top, right bottom,
    from(rgba(255, 251, 241, 1)),
    to(rgba(234, 239, 253, 1))
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(255, 251, 241, 1),
    rgba(234, 239, 253, 1)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 251, 241, 1),
    rgba(234, 239, 253, 1)
  );
}

.service_cards .custom_card {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  color: var(--blue);
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  cursor: default;
}

.container .service_cards .custom_card:hover {
  background-color: #0062c9;
  background-image: none;
  color: var(--white);
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.service_cards .custom_card .custom_card_inner {
  padding: 30px;
  background-image: url(../images/service3/card_bg_img.png);
  background-repeat: no-repeat;
  background-position: -200% 0%;
  background-size: cover;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  height: 100%;
}

.service_cards .custom_card:hover .custom_card_inner {
  background-position: 40% 0%;
}

.service_cards .custom_card .card_title {
  margin: 24px 0 12px 0;
  font-weight: 500;
}
.custom_card .image_holder {
  width: 64px;
  height: 64px;
}

.custom_card .image_holder img {
  max-height: 64px;
  max-width: 100%;
}

.service_cards .custom_card .card_bg {
  position: absolute;
  left: -44px;
  bottom: -150%;
  width: 120%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.service_cards .custom_card:hover .card_bg {
  bottom: 0%;
}

@media (min-width: 768px) {
  .service_cards {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .service_cards {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
/* ==== Services section end here ==== */
