/*-------------------------------------
	Author: CloudCode
	Copyright © 2022

  * This file contains the styling for the actual template, this
    is the file you need to edit to change the template's look.
--------------------------------------- */

/* ===== Pricing section start here ===== */
.content_header {
  text-align: center;
  max-width: 850px;
  margin: 0 auto 100px;
}
.content_header h4 {
  margin-bottom: 20px;
}
.content_header h1,
.content_header .green {
  margin-bottom: 20px;
  color: #21a415;
}
.content_header .black {
  color: var(--dark);
}
.content_header p {
  text-align: center;
  max-width: 550px;
  margin: 20px auto 0px;
}
.pricing {
  overflow: hidden;
}

.pricing .container {
  position: relative;
}

.pricing .two_circle_green,
.pricing .rectangle,
.pricing .three_circle {
  position: absolute;
}
.pricing .two_circle_green {
  width: 90px;
  top: 17%;
  left: 2%;
}

.pricing .rectangle {
  width: 75px;
  top: 10%;
  right: 10%;
}

.pricing .three_circle {
  width: 85px;
  bottom: 24%;
  right: -114px;
}

.pricing .pricing_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px 40px;
}

.pricing .pricing_cards .price_card {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: -o-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(to bottom, #fff, #fff);
  color: var(--black);
  border-radius: 10px;
  min-height: 400px;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 8%);
          box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 8%);
}

.pricing .pricing_cards .price_card.active:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00bc1e), to(#039f4b));
  background-image: -o-linear-gradient(top, #00bc1e, #039f4b);
  background-image: linear-gradient(to bottom, #00bc1e, #039f4b);
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pricing .pricing_cards .price_card.active {
  color: var(--white);
}

.pricing .pricing_cards .price_card.active .check {
  background-color: var(--white);
  color: #21a415;
}

.pricing .pricing_cards .price_card.active .price_card_wrapper h3,
.pricing .pricing_cards .price_card.active .price_card_wrapper h2 {
  color: var(--white);
}

.pricing .pricing_cards .price_card.active button {
  background-color: var(--white);
  color: #21a415;
}

.pricing .pricing_cards .price_card.advance .bg_top,
.pricing .pricing_cards .price_card.advance .bg_down {
  position: absolute;
  max-width: 150px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.pricing .pricing_cards .price_card.active.advance .bg_top,
.pricing .pricing_cards .price_card.active.advance .bg_down {
  -webkit-animation: opacity_pricing_bg 0.8s linear forwards;
          animation: opacity_pricing_bg 0.8s linear forwards;
}

@-webkit-keyframes opacity_pricing_bg {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes opacity_pricing_bg {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.pricing .pricing_cards .price_card.active.advance .bg_top {
  top: 15%;
  left: 60%;
}

.pricing .pricing_cards .price_card.active.advance .bg_down {
  top: 60%;
  left: 50%;
}

.pricing .pricing_cards .price_card:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00bc1e), to(#039f4b));
  background-image: -o-linear-gradient(top, #00bc1e, #039f4b);
  background-image: linear-gradient(to bottom, #00bc1e, #039f4b);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pricing .pricing_cards .price_card:hover:after {
  opacity: 1;
}

.pricing .pricing_cards .price_card:hover {
  color: var(--white);
}

.pricing .pricing_cards .price_card:hover .check {
  background-color: var(--white);
  color: #21a415;
}

.pricing .pricing_cards .price_card:hover .price_card_wrapper h3,
.pricing .pricing_cards .price_card:hover .price_card_wrapper h2 {
  color: var(--white);
}

.pricing .pricing_cards .price_card_wrapper {
  position: relative;
  z-index: 11;
  padding: 40px 25px;
  border-radius: 10px;
  height: 100%;
}

.pricing .price_card h2 {
  margin: 20px 0 50px 0;
}

.pricing .price_card .card_list {
  padding-bottom: 100px;
}

.pricing .price_card .card_list p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px auto;
  grid-template-columns: 30px auto;
}

.pricing .price_card .card_list p:not(:first-child) {
  margin-top: 20px;
}

.pricing .card_list p .check {
  background-color: #21a415;
  color: var(--white);
  border-radius: 50%;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row-align: start;
      align-self: start;
  width: 20px;
  height: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.pricing .price_card button {
  background-color: var(--white);
  color: #21a415;
  border: hidden;
  border-radius: 6px;
  border: 1px solid #21a415;
  padding: 8px 30px;
  width: 80%;
  max-width: 350px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 500;
}

@media (min-width: 992px) {
  .pricing .pricing_cards .price_card {
    min-height: 600px;
  }
  .pricing .pricing_cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .pricing .pricing_cards .price_card {
    min-height: 800px;
    max-width: 424px;
  }

  .pricing .pricing_cards .price_card_wrapper {
    padding: 80px 40px;
    border-radius: 10px;
  }

  .pricing .price_card button {
    padding: 14px 80px;
    bottom: 80px;
  }
}
/* ===== Pricing section end here ===== */
